/* Alice View */

body {background: black url(../images/alice.jpg) center top no-repeat;}
#flashDiv {padding: 50px 0; height: 236px; width: 792px;}
#clientImg {width: 410px; margin-left: 200px;}

#about h1{color: #0A0054; text-shadow: 1px 1px 2px #fff;}
#form h3, p.address{color: #222; text-shadow: 1px 1px 2px #fff;}

p.address{margin-top: 425px;}
#footer{color: #222;}
#form{background: rgba(230,230,230,.5);	width: 495px; padding: 15px 6px;}

#accordion h3{background-color: #7d7e80;}
#accordion div.accordionContent {background: url(../images/alice/openAccordeon.jpg) no-repeat left center;}

#accordion {width: 580px; height: 309px; background: white; padding: 0; border: 3px solid black;}

#accordion h3{height: 303px; width: 48px;}
.openAccordeon img {margin-top: 30px;}
a.portfolioBt {background: url(../images/alice/portfolioBt.jpg) no-repeat;}
a.portfolioEnBt {background: url(../images/alice/portfolioEnBt.jpg) no-repeat;}
a.portfolioEsBt {background: url(../images/alice/portfolioEsBt.jpg) no-repeat;}
#comunicacaoTit{background-image: url(../images/alice/h3Comunicacao.jpg);}
#ilustracaoTit{background-image: url(../images/alice/h3Ilustracao.jpg);}
#projetosTit{background-image: url(../images/alice/h3Projetos.jpg);}
#comunicacionTit{background-image: url(../images/alice/h3Comunicacion.jpg);}
#ilustracionTit{background-image: url(../images/alice/h3Ilustracion.jpg);}
#proyectosTit{background-image: url(../images/alice/h3Proyectos.jpg);}
#comunicationTit{background-image: url(../images/alice/h3Comunication.jpg);}
#illustrationTit{background-image: url(../images/alice/h3Illustration.jpg);}
#projectsTit{background-image: url(../images/alice/h3Projects.jpg);}
.openAccordeon a {height: 66px; width: 130px;}

#textPhilosophy {width: 360px; margin: 100px 0 100px 165px;}