/* City View */

body {background: url(../images/bg.jpg) center top no-repeat;}
#philosophy {background: url(../images/buda.png) no-repeat 640px 150px;}
#about {background: url(../images/monkey.png) no-repeat 516px 230px;}
#wwd {background: url(../images/postes.png) bottom left repeat-x;}
#contact {background: url(../images/ninjaTurtle.png) no-repeat 720px 400px;}
#flashDiv {background: url(../images/clientes.png) no-repeat; padding: 50px 0; height: 236px; width: 792px;}
#clientImg {width: 410px; margin-left: 80px;}

/* IE fixes */
*+html #about {background: url(../images/monkey.png) no-repeat 527px 229px;}
*html #philosophy {background: url(../images/buda.gif) no-repeat 640px 150px;}
*html #about {background: url(../images/monkey.gif) no-repeat 527px 229px;}
*html #wwd {background: url(../images/postes.gif) bottom left repeat-x;}
*html #contact {background: url(../images/ninjaTurtle.gif) no-repeat 720px 400px;}
*html #flashDiv {background: url(../images/clientes.gif) no-repeat;}

/* WWD Accordeon */

#accordion {background: url(../images/acordeon.gif);}
#accordion h3{background-color: #feca03;}
#accordion div.accordionContent {background: url(../images/openAccordeon.jpg) no-repeat left center;}
a.portfolioBt {background: url(../images/portfolioBt.jpg) no-repeat;}
a.portfolioEnBt {background: url(../images/portfolioEnBt.jpg) no-repeat;}
a.portfolioEsBt {background: url(../images/portfolioEsBt.jpg) no-repeat;}
#comunicacaoTit{background-image: url(../images/h3Comunicacao.jpg);}
#ilustracaoTit{background-image: url(../images/h3Ilustracao.jpg);}
#projetosTit{background-image: url(../images/h3Projetos.jpg);}
#comunicacionTit{background-image: url(../images/h3Comunicacion.jpg);}
#ilustracionTit{background-image: url(../images/h3Ilustracion.jpg);}
#proyectosTit{background-image: url(../images/h3Proyectos.jpg);}
#comunicationTit{background-image: url(../images/h3Comunication.jpg);}
#illustrationTit{background-image: url(../images/h3Illustration.jpg);}
#projectsTit{background-image: url(../images/h3Projects.jpg);}
