/* General CSS */
body {
	color: #fff;
	background-color: black;
}

::selection {
	background: #FAC03A;
}

::-moz-selection {
	background: #FAC03A;
}

a {
	background: #FAC03A;
	color: #000;
	padding: 2px;
	text-decoration: none;
}

a:hover {
	background: #FFEFCF;
	text-decoration: none;
}

a:active {
	position: relative;
	bottom: -1px;
}

a::selection {
	background: #036;
}

a::-moz-selection {
	background: #036;
}

p a, span a, blockquote a {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

ol, ul, li {
	list-style-type: none;
}

h2 {
	padding: 20px 0 0;
}

h3 {
	font-size: 18px;
}

p {
	overflow: hidden;
	text-indent: 20px;
}

div {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.right {
	float: right;
}

.clear {
	clear: both;
	display: block;
	overflow: hidden;
	float: left;
	width: 100%;
}

/* Blockquotes */

blockquote {
	background: #f9f9f9;
	border-left: 10px solid #ccc;
	margin: 5px 0;
	padding: .5em 10px;
	quotes: "\201C""\201D";
	float: left;
}

blockquote:before {
	color: #ccc;
	content: open-quote;
	font-size: 4em;
	line-height: .1em;
	margin-right: .25em;
	vertical-align: -.4em;
}

blockquote p {
	display: inline;
}

#wwd h2, #partners h2, #contact h2 {
	position: absolute;
	left: -9999px;
}

/* Floating main menu */

#menuFloat {
	display: block;
	width: 960px;
	height: 0;
	margin: 0 auto;
}

#floatingDiv {
	position: fixed;
	top: 0px;
	display: block;
	width: 960px;
	z-index: 9400;
}

#signature {
	position: fixed;
	bottom: 2px;
	right: 2px;
	z-index: 9400;
}

#menuFloat h1 a {
	text-indent: -9999em;
	display: block;
	float: left;
	background: url(../images/logo.png) center center no-repeat;
	height: 80px;
	width: 46px;
	padding-top: 15px;
	outline: none;
}

/* Menu */

#nav {
	margin: -20px auto 0;
	padding: 0;
	width: 530px;
}

#nav li {
	display: inline;
	font-size: 14px;
	font-weight: bold;
	margin: 0;
}

#nav a {
	background: #FAC03A;
	color: #000;
	border: none;
	padding: 7px 15px;
	margin: 0 1px;
	float: left;
	width: auto;
}

#nav a:hover {
	background: #FFEFCF;
	text-decoration: none;
}

#nav > li:first-child a {
	-moz-border-radius-bottomleft: 10px;
	-webkit-border-bottom-left-radius: 10px;
}

#nav > li:last-child a {
	-moz-border-radius-bottomright: 10px;
	-webkit-border-bottom-right-radius: 10px;
}

#languages {
	display: block;
	width: 300px;
	position: absolute;
	right: 0;
	top: 5px;
	text-align: right;
}

/* General Sections */

#main {
	margin: 0 auto;
	width: 960px;
	height: 3492px;
	padding: 10px;
}

#philosophy {
	height: 650px;
}

#partners {
	height: 600px;
}

#about {
	height: 790px;
}

#wwd {
	height: 700px;
}

#contact {
	height: 722px;
	overflow: visible;
}

/* Speaking Baloons */

.baloon {
	position: absolute;
	z-index: 13;
	width: 207px;
	height: 206px;
	color: #000;
}

.contentBaloon {
	float: right;
	width: 182px;
	overflow: auto;
	height: 158px;
	color: #333;
	margin: 5px;
	font-size: 11px;
	overflow: hidden;
}

.contentBaloon p {
	text-indent: 0px;
}

.scrollY {
	overflow-y: auto;
}

.baloon em {
	color: #999;
	float: left;
	clear: both;
	width: 100%;
}

#tweetsBaloon {
	margin: -140px 0 0 650px;
	
}

#followBaloon {
	margin: 280px 0 0 670px;
}

#followBaloon h5 a {
	text-indent: -9999em;
	display: block;
	width: 103px;
	height: 73px;
	margin: 17px;
}

/* Philosofy Section */

#textPhilosophy {
	display: block;
	width: 390px;
	margin: 100px 50px;
}

#philosophy p {
	padding: 10px 0;
	font-size: 15px;
}

/* Partners Section */

#partners h2 {
	padding-top: 110px;
}

#flashDiv {
	display: block;
	margin: 200px auto 0;
}

#clientImg img {
	padding: 3px;
}

/* About Section */

#about h1 {
	clear: both;
	width: 600px;
	position: relative;
	z-index: 1;
	text-shadow: 1px 1px 2px #000;
	margin: 200px 0 0 50px;
	line-height: 40px;
	font-size: 25px;
}

#about h1 small {
	display: block;
	font-size: 17px;
	width: 470px;
	line-height: 24px;
}

#about h1::selection {
	background: #036;
}

#about h1::-moz-selection {
	background: #036;
}

#tweetSpace strong {
	font-variant: small-caps;
}

#tweetSpace a:hover {
	font-weight: normal;
}

/* What We Do Section */

#accordion {
	width: 610px;
	height: 339px;
	padding: 15px;
	margin: 245px auto 0;
	color: #333;
}

#accordion h3{
	float: left;
	display: block;
	cursor: pointer;
	height: 308px;
	width: 48px;
	text-indent: -9999em;
	overflow: hidden;
	background-repeat: no-repeat;
	border-left: 3px black solid;
}

#accordion h3.current {
	cursor:default;
}

#accordion div.accordionContent {
	width:0px;
	float:left;	
	display:none;
	height: 100%;
}

#accordion .openAccordeon {	
	width: 400px;
	padding: 20px 0 20px 20px;
	font-size: 15px;
}

.openAccordeon a {
	display: block;
	height: 22px;
	width: 100px;
	text-indent: -9999em;
	overflow: hidden;
}

.openAccordeon img {margin-top: 50px;}
.openAccordeon p {width: 240px; padding: 0 0 0;}

/* Contact Section */

#tweetsBaloon {background: url(../images/baloon.png) no-repeat;}
#followBaloon {background: url(../images/baloon2.png) no-repeat;}
#followBaloon h5 a {background: url(../images/follow.png) no-repeat;}
*html #tweetsBaloon {background:url(../images/baloon.gif) no-repeat;}
*html #followBaloon {background: url(../images/baloon2.gif) no-repeat;}

#contactForm {
	margin: 350px 0 0 50px;
	display: block;
	width: 500px;
	position: relative;
	z-index: 6000;
}

.inlined {
	color: #000;
	padding: 3px 5px 8px;
	display: block;
	width: 480px;
	position: relative;
	z-index: 22;
	font-size: 14px;
}

.inlined.focus {color: #999;}

.inlined.has-text {visibility: hidden;}

textarea {
	background: white;
	border: none;
	width: 480px;
	padding: 3px 5px;
	color: #000;
	font-size: 14px;
	font-weight: normal;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	top: -31px;
	position: relative;
	z-index: 20;
}

textarea.onFocus {border: #FAC03A 2px solid;}

.address {
	width: 180px;
	text-align: right;
	font-size: 14px;
	line-height: 22px;
	float: right;
	margin: 520px 210px 0 0;
	text-shadow: 1px 1px 2px #000;
}

.button {
	color: #000;
	background: none #FAC03A;
	border: 1px solid #000;
	padding: 2px 5px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	font-variant: small-caps;
	text-transform: capitalize;
}

.button:hover {
	margin: 1px -1px 0 0;
	background: #FFEFCF;
	text-decoration: none;
	font-weight: bold;
	cursor: pointer;
}

#submit {
	position: relative;
	top: -26px;
	float: right;
	padding: 6px 10px;
}

#sucess p {overflow: visible;}

#formAgain {margin-left: 8px;}

#contact h3 {text-shadow: 1px 1px 2px #000;}

.error {
	color: #FFF;
	background: #C33;
	padding: 6px 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	display: block;
	width: 250px;
	text-align: center;
}

/* Footer */

#footer {
	text-align: center;
	display: block;
	width: 960px;
	height: 20px;
	overflow: hidden;
}