*html {background-image: url(images/image.jpg);}

*html #signature{
	position: absolute; /* position fixed for IE6 */
	top: expression(340+((e=document.documentElement.scrollTop)?e:document.body.scrollTop)+'px');
	right: expression(2-((e=document.documentElement.scrollLeft)?e:document.body.scrollLeft)+'px');
}

*html #floatingDiv{
	position: absolute; /* position fixed for IE6 */
	top: expression(0+((e=document.documentElement.scrollTop)?e:document.body.scrollTop)+'px');
}

*html #menuFloat h1 a{background:url(../images/logo.gif) center center no-repeat;}

#nav{margin:0 auto;}
*html #tweetSpace strong {margin-left:10px;}

#flashDiv{position: relative; bottom: -200px;}

#accordion { width: 580px; height: 309px; position: relative; bottom: -245px;}

#accordion .openAccordeon {width: 380px;}
*html .address{margin-right:100px;}
