/* City View */

body {background: #000 url(../images/bg3.jpg) center top no-repeat;}
#flashDiv {padding: 50px 0; height: 236px; width: 792px;}
#clientImg {width: 410px; margin-left: 200px;}
#about h1 {margin-top: 170px; color: black; text-shadow: 1px 1px 2px white;}
p.address {margin: 410px 190px 0 0; text-shadow: 1px 1px 2px #fff; color: #000;}
#followBaloon {margin-left: 750px;}
#contactForm h3 {color: #000; text-shadow: 1px 1px 2px #fff;}
textarea#message {background: #333; color: #fff; font-family: Helvetica, arial, sans-serif;}
label.inlined {color: #fff;}

#tweetsBaloon {margin: -150px 0 0 600px;}
#accordion {margin-top: 285px;}
#accordion h3{border: 2px outset #fff; background: #a0a3cc no-repeat center center; height: 297px;}
#accordion h3.current{background: #ffb300 no-repeat center center;}
#accordion div.accordionContent{background: #7670B3; height: 300px;}
a.portfolioBt, a.portfolioEnBt, a.portfolioEsBt {text-transform: uppercase; background: #ffb300; border: 2px outset #fff; text-indent: 0; font-family: arial, helvetica, sans-serif; font-style: normal; font-weight: bold; text-align: center; padding: 4px 10px; margin: 0 auto;}

#accordion .openAccordeon {width: 455px; padding: 20px 0 20px 10px;	font-size: 15px; overflow: hidden;}
#accordion .openAccordeon:before {content: "TV MENU"; color: white; width: 455px; background: #B2D6EF; display: block; font-weight: bold; position: relative; margin-left: -10px; padding: 3px 10px 0; margin-bottom: 7px; margin-top: -10px;}
.openAccordeon img{margin-top: 10px;}

.openAccordeon p{line-height: 20px; padding: 3px 0; text-indent: 0; color: #fff; font-style: normal; font-family: Arial, Helvetica, sans-serif; font-size: 90%; width: 240px;}

.lunch p{	width: 430px;}

#accordion #comunicacaoTit, #accordion #comunicacionTit, #accordion #comunicationTit{background-image: url(../images/v3/comunicacaoTit.png);}
#accordion #ilustracaoTit, #accordion #ilustracionTit, #accordion #illustrationTit{background-image: url(../images/v3/ilustracaoTit.png);}
#accordion #projetosTit, #accordion #proyectosTit, #accordion #projectsTit{background-image: url(../images/v3/projetosTit.png);}

#accordion #comunicacaoTit.current, #accordion #comunicacionTit.current, #accordion #comunicationTit.current{background-image: url(../images/v3/comunicacaoTitCurrent.png);}
#accordion #ilustracaoTit.current, #accordion #ilustracionTit.current, #accordion #illustrationTit.current{background-image: url(../images/v3/ilustracaoTitCurrent.png);}
#accordion #projetosTit.current, #accordion #proyectosTit.current, #accordion #projectsTit.current{background-image: url(../images/v3/projetosTitCurrent.png);}

#footer {color: black;}